:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3rem;
  line-height: 0;
}

input{
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 4px 0;
  outline: none;
  padding: 6px;
  box-sizing: border-box;
  transition: 0.3s;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #616ee7;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #20254d;
}
button:focus,

.title-card {
  padding: 20px;
  box-sizing: border-box;
}
h1, h3 {
  margin: 30px, 0;
  margin-bottom: 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}