/*TODO: Adust dont based on screen size? */
.dashboard-container {
  display: block;
  font-family: Arial, sans-serif;
  place-items: center;
}

/*
.sidebar {
  width: 150px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
  
/* Sidebar items */

/*
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
  
.sidebar li {
  padding: 15px 0;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}
  
.sidebar li:hover {
  background-color: #34495e;
}


*/

.main-content {
  margin-left: 150px;
  padding: 50px;
  /*width: calc(100% - 250px);*/
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
  
/* Tab navigation styles */
.tab-navigation {
  display: flex;
  width: 100%; /* Full width for the tab container */
  justify-content: center; 
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
  
/* Tab buttons */
.tab-navigation button {
  background-color: #e3e3e3;
  width: 150px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
  outline: none; /* Remove focus outline */
  text-align: center;
}
  
/* Active tab styles */
.tab-navigation .active-tab {
  background-color: #2c3e50;
  color: white;
  border: 2px solid black;
  transform: scale(1.05); /* Scaling for active state */
}
  
/* Hover effect for interaction but not on active tab */
.tab-navigation button:not(.active-tab):hover {
  background-color: #b3b3b3;
  border-color: #777;
}

.dashboard-tab-container {
  /*display: grid;*/
  flex-direction: column; /* Stack vertically */
  gap: 0px; /* Add space between each section */
  
}
 
h1, h2 {
  margin-bottom: 30px;
}

p {
  font-size: 1.2rem;
  margin: 10px 0;
}

  
.week-glance {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}
  
.day-column {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f4f4f4;
  min-height: 200px;
  text-align: center;
}
  
.shift-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #e3e3e3;
  margin: 10px 0; /* Space between shifts */
  text-align: center;
}

.team-contacts {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.team-contacts ul {
  list-style-type: disc;
  list-style-position: outside;
  text-align: left;
  width: 40%;
  margin: auto;
}